Options +FollowSymLinks
RewriteEngine On
RewriteBase /projects/c/cbit_v1/cbit/
# RewriteBase /~adroitprojects/projects/cbit/v2/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex index.html index.php

ErrorDocument 404 /404.php


RewriteRule ^home$ index.php [L]
RewriteRule ^about-us$ about-us.php [L]
RewriteRule ^contact-us$ contact-us.php [L]
RewriteRule ^departments$ departments.php [L]
RewriteRule ^news$ news-list.php [L]
RewriteRule ^events$ events-list.php [L]
RewriteRule ^achivements$ achivement-list.php [L]
RewriteRule ^thankyou-for-quick-enquiry$ thankyou-for-quick-enquiry.php [L]


RewriteRule ^latest-news/(.*)$ news-details.php?nwsid=$1 [L,QSA]
RewriteRule ^photo-gallery/(.*)$ gallery.php?phtid=$1 [L,QSA]
RewriteRule ^latest-events/(.*)$ events-details.php?evntmid=$1 [L,QSA]
RewriteRule ^latest-achivements/(.*)$ achivements-details.php?achmtid=$1 [L,QSA]
RewriteRule ^notifications/(.*)$ announcements-list.php?notify_typ=$1 [L,QSA]
RewriteRule ^latest-notifications/(.*)/(.*)$ announcements-details.php?notify_typ=$1&notid=$2 [L,QSA]
# RewriteRule ^(.*)$ gallery-category.php?pht_cat_id=$1 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)$ gallery-category.php?pht_cat_id=$1 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ gallery.php?pht_cat_id=$1&pht_scat_id=$2 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^main-links/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ imp_links.php?imnlnks=$1&icatid=$2 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^main-links/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ imp_links.php?imnlnks=$1&icatid=$2&iscatid=$3 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ category.php?mnlnks=$1&catid=$2 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ category.php?mnlnks=$1&catid=$2&scatid=$3 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ category.php?mnlnks=$1&catid=$2&admtyp=$3 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ pagecontents.php?mnlnks=$1&catid=$2&scatid=$3&prodid=$4 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^dept-gallery/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ department-gallery.php?phtid=$1&mnlnks=$2&catid=$3&scatid=$4 [L,QSA]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ dept-gallery-explore.php?phtid=$1&pht_scat_id=$2&mnlnks=$3&catid=$4&scatid=$5 [L,QSA]

# RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
# RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
# RewriteRule ^dept-gallery/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)/([A-Za-z0-9-_()]+)$ dept-gallery-explore.php?phtid=$1&mnlnks=$2&catid=$3&scatid=$4 [L,QSA]


RewriteRule ^error$ error.php [L]
RewriteRule ^404error$ 404.php [L]